*{
    margin: 0px;
}
main{
    width: 360px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
header{
    margin-top: 5px;
    height: 80px;
    text-align: center;
    color: white;
}
header img{
    margin-left: 10px;
    width: 75px;
    float: left;
}
#radio{
    background-color: rgb(60, 184, 255);
}
#btn{
    display: flex;
    justify-content: center;
    padding-top: 15px;

}
#btn img{
    width: 40px;
    height: 40px;
    margin: 0px 10px;
}

#controller{
    margin-top: 10px;
    text-align: center;

}
#controller input{
    width: 100%;
}
#controller h3{
    margin:10px 0px; 
}

#color{
    text-align: center;
    margin-top: 15px;
}
#color button{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
#color1{
    background-color: red;
}
#color2{
    background-color: yellow;
}
#color3{
    background-color: green;
}
#color4{
    background-color: black;
}